:root {
  --main-text-color: #212121;
  --main-color: #2196f3;
  --logo-second-color: #000000;
  --second-color: #757575;
  --hover-color: #188ce8;
  --footer-color: #2f303a;
  --footer-mail-tel-color: #ffffff99;
  --hero-color: #ffffff;
}

body {
  font-family: "Roboto", "Raleway";
  letter-spacing: 0.03em;
  font-size: 14px;

  background-color: #ffffff;
  color: var(--main-text-color);
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*global*/

.link {
  text-decoration: none;
}
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.section-title {
  margin: 0px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;

  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0px;
}

/*header*/

.borders-header {
  border-bottom: 1px solid #ececec;

  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.web-logo {
  color: var(--main-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-second-color);

  margin-right: 93px;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navigation {
  display: flex;
}
.navigation-list {
  margin-right: 50px;
}
.navigation-list:last-child {
  margin-right: 0px;
}

.navigation-link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);

  padding-top: 32px;
  padding-bottom: 32px;
}
.current {
  color: var(--main-color);
}

.navigation-link:hover,
.navigation-link:focus,
.cont-link:hover,
.cont-link:focus,
.navigation-link:active {
  color: var(--main-color);
}
.contacts-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
}

.contact-link {
  color: var(--second-color);
}

.contacts-header-li {
  margin-left: 50px;
}
.contacts-header-li:first-child {
  margin-left: 0px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--main-color);
}
.contact-link:active {
  color: var(--main-color);
}
.contact-link:visited {
  color: var(--main-text-color);
}

/*Main index*/
/*hero section*/
.hero-background {
  background-color: var(--footer-color);
  text-align: center;

  padding: 200px 0;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-color);

  text-align: center;
  margin: 0px 250px;
}
.head-button {
  color: #ffffff;
  background-color: var(--main-color);
  border: var(--main-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  /*Button size*/
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 32px;
}
.head-button:hover,
.head-button:focus {
  background-color: var(--hover-color);
}
.head-button:active {
  background-color: var(--main-color);
}

/*About*/
.about-ul {
  display: flex;
  justify-content: space-between;
}
.about-li {
  width: 270px;
}
.about-h3 {
  margin: 0px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.about-p {
  margin: 0px;

  margin-top: 10px;
  line-height: 1.71;

  color: var(--second-color);
}

/*work*/
.section-info {
  padding-top: 0px;
}

.work-photos {
  margin-top: 50px;
  margin-bottom: 0px;

  display: flex;
  justify-content: space-between;
}

/*team*/
.team-background {
  background-color: #f5f4fa;
}

.team-info {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;
}
.photo-info {
  border-radius: 0 0 4px 4px;

  box-shadow: 0px 2px 1px #757575;
  background-color: var(--hero-color);
}
.teammate-card-bottom {
  padding: 30px 60px;
}
.teammate {
  margin: 0px;

  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}
.proffession {
  text-align: center;

  margin: 0px;
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.18;
  color: var(--second-color);
}

/*Main porfolio*/
/*filter*/
.filter-buttons {
  margin: 0;

  display: flex;
  justify-content: center;
}

.filter-list:not(last-child) {
  margin-right: 8px;
}
.filter-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  color: var(--main-text-color);
  border: var(--main-color);

  border-radius: 4px;
  padding: 6px 22px;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--hover-color);
  color: #ffffff;
}
.active-filter {
  background-color: var(--main-color);
  color: #ffffff;
}

/*Portfolio list*/

.portfolio-list {
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-post {
  width: 370px;
  flex-basis: calc(100% / 3 -30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-cont {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.portfolio-name {
  margin: 0;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  margin: 0;

  font-size: 16px;
  line-height: 1.8;

  color: var(--second-color);
}

/*footer*/

.footer-background {
  background-color: var(--footer-color);
  padding: 64px 0;
}

.logo-footer {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;

  color: #ffffff;
}
.contacts-footer {
  margin-top: 20px;
}

.cont-link-adress {
  margin: 0;

  font-style: normal;
  line-height: 1.71;

  color: #ffffff;
}

.cont-link-li {
  margin-top: 9px;
}
.cont-link {
  font-style: normal;
  line-height: 1.71;

  color: var(--footer-mail-tel-color);

  display: inline-block;
}
